<div id="bar">
  <div class="col-lg-8 col-sm-6">
    
      <h2 class="section-heading">Piña colada</h2>

      <p class="lead">The piña colada is a sweet cocktail made with rum, coconut cream or coconut milk, and pineapple juice</p>

      

  </div>
  <div class="col-lg-4 col-sm-6">
      <img class="img-responsive" src="images/pina-colada.png" alt="">
  </div>

   <div class="col-lg-12 col-sm-12">
      <p id="buttons">
        <button 
          class="snipcart-add-item btn btn-lg btn-success" 
          data-item-name="Piña colada" 
          data-item-price="8.00" 
          data-item-id="1" 
          data-item-url="http://snipcart-angular.netlify.com/" 
          data-item-description="The piña colada is a sweet cocktail made with rum, coconut cream or coconut milk, and pineapple juice" 
          data-item-image="http://snipcart-angular.netlify.com/images/pina-colada.png" 
          data-item-weight="20" 
          ng-href="#/">
          I want some! <span class="glyphicon glyphicon-ok"></span>
        </button></p>
  </div>
</div>